/* Full Page CSS */
body {
  background-image: url("/img/background.png");
  
}

h1,h2,h3,h4{
  font-family: 'Bebas Neue', cursive;
}

p, ul, li, a{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1em;
}

li{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1em;
}

button{
  background-color: rgb(106, 106, 233);
}
/* Navigation Bar */
.navbar{
    background-color: rgb(140, 140, 252);
}

 /* Logo */
 .navbar-brand{
  background-color: rgb(106, 106, 233);
  color: white;
  border-radius: 5px;
  padding-right: 5px;
}

 /* Navigation text */
 ul li {
   font-size: 1.4rem;
 }

 .navbar li a {
   color: white;
 }

 /* Search Button */
 .btn:hover{
  background-color: black;
}

 /* Above the Fold */
 .AboveTheFold{
  display: flex;
  margin: 60px 100px 0px;
  justify-content: center;
 }

 /* Above the fold image */
.AboveTheFold img{
  box-shadow: 5px 10px 20px black;
  max-width: 80%;
  max-height: 400px;
}

/* Above the fold text and button */
#atf-text{
  margin-top: 5%;
  margin-left: 20%;
  max-width: 600px;
 }
#atf-text p{
  margin-top: 35px;
}
 #atf-text button{
  margin-top: 20%;
  margin-left: 30%;
  padding: 15px 30px;
  font-weight: bold;
 }

  /* Reviews */

  .reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
   }
  
   .reviews div{
    width: 60%;
    margin: 15px 0px;
   }

/* Book Series Header */
#BookSeries{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}
 /* Accordion */
 .accordion{
  min-width: 60%;
  max-width: 60%;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
 }

 .accordion button{
  background-color: rgb(228, 226, 226);
 }

 .accordion h3{
  font-size: 0.9em;
  margin-top: 10px;
 }

 .accordion-button:not(.collapsed) {
  color: #0c63e4;
  font-weight: 600;
  background-color: rgb(228, 226, 226);
}

 /* Carousel */
 #carouselExampleIndicators{
  max-width: 300px;
 }

 .container{
  display: flex;
  justify-content: center;
 }

 .carousel-inner img{
  max-height: 420px;
  min-width: 150px;
 }

 /* About the Author */
 .authorcontainer{
  display: flex;
  flex-wrap: wrap;
  padding: 60px 30px;
  justify-content: center;
 }

 .authorcontainer img{
  max-height: 300px;
 }

 #authortab{
  max-width: 60%;
  margin-left: 30px;
 }

/* Order Now */
#header {
  margin-left: 40%;
  margin-bottom: 30px;
}

.order{
  background-color: rgb(216, 202, 202);
  border: 2px black solid;
  max-width: 70%;
}

.order h3{
  margin-top: 20px;
}
.order button{
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* Footer */
footer{
  margin-top: 10px;
  margin-bottom: -200px;
  background-color: rgb(140, 140, 252);
}
